{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-8">
        <h2 class="text-center">Yangilikni tahrirlash</h2>
        <form action="{% url 'update_news' news.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Yangilash</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
